/* Define custom fonts */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategray;
}
header h1, header h2, nav a, aside h2 {
    color: whitesmoke;
    text-align: center;
    font-family: Dayrom, serif;
    font-weight: normal;
}
#main_wrapper {
    width: 900px;
    margin: auto;
}
header {
    background-color: darkslategray;
    padding-top: 2px;
    box-shadow: 0px 4px 4px lightsalmon;
}
nav a {
    text-transform: capitalize;
    font-size: 1.3em;
    color: whitesmoke;
    padding-bottom: 3px;
    text-decoration: none;
}

nav {
    display: inline-block;
    width: 900px;
    margin: auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a:hover {
    
    border-bottom: 3px solid lightsalmon;
}

#banner_image {
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('img/banner.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px lightsalmon;
    margin-bottom: 25px;
}

article, aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
article h2, aside h2 {
    font-family: Dayrom, serif;
}
article {
    width: 625px;
    margin-right: 15px;
}

aside {
    position: relative;
    width: 235px;
    background-color: darkslategray;
    opacity: 0.7;
    color: whitesmoke;
    box-shadow: 0px 2px 5px lightgray;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

footer {
    padding-top: 2px;
    font-size: 0.7em;
    text-align: center;
    background-color: lightsalmon;
    opacity: 0.5;
    border: 1px solid darkslategray;
    box-shadow: 0px 2px 2px darkslategray;
}

button {
    background-color: lightsalmon;
    border-radius: 10%;
    border: 1px solid whitesmoke;
}